
<div class="container margin-top-6">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">New Message</div>
      <div class="panel-body">
        <%=form_for :admin,url: root_path,:html=>{:class=>"form-horizontal"} do |f|%> 
          <div class="row margin-top-2">
            <div class="form-group">
              <div class="col-sm-2 margin-left-2">
               <%=f.label :To%>
              </div> 
              <div class="col-sm-9">
                <%#= f.email_field :email,:id=>"inputTo",:class=>"form-control",:placeholder=>"comma separated list of recipients",params[:@str]%>
                
                <%=%>
                
              </div>
            </div>
          </div> 
          <hr>
          <div class="row margin-top-2"> 
            <div class="form-group">
              <div class="col-sm-2 margin-left-2"> 
                <%=f.label :subject%>
              </div>
              <div class="col-sm-9">
                <%=f.text_field :subject,:id=>"inputSubject",:placeholder=>"subject",:class=>"form-control"%>
              </div>
            </div>
          </div>
          <hr>
          <div class="row margin-top-2">  
            <div class="form-group">
              <div class="col-sm-2 margin-left-2">
                <%=f.label :message%>
              </div>
              <div class="col-sm-9">
                <%=f.text_area :description,:id=>"inputBody",:class=>"form-control"%>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-2 margin-left-2">
              <%=f.submit "Send",:id=>"send",:class=>"btn btn-primary form-control"%>
            </div>
          </div>
        <%end%>
      </div>
    </div>  
  </div>      
</div>  
