<!DOCTYPE html>
<html>
<head>
  <title>Email</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	 <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bg-white"></span>
            <span class="icon-bar bg-white"></span>
            <span class="icon-bar bg-white"></span>
          </button>
          <%if current_user%>
          <strong><a class="navbar-brand hyper1" href="<%=admin_users_path%>" data-no-turbolink = true>Welcome</a></strong>
          <%else%>
          <strong><a class="navbar-brand hyper1" href="#" data-no-turbolink = true>Email-App</a></strong>
          <%end%>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right margin-right" data-no-turbolink = true>
            <%if current_user%>
              <li>
                <%= link_to "Sent emails lists",all_emails_path,:class=>"hyper"%>
              </li>
              <li>
                <%= link_to "Log-out",admin_user_path(current_user.id),method: :delete,:class=>"hyper"%>
              </li>
            <%else%>
              <li>
                <a class="hyper" data-toggle="modal" href="#login"></a>
              </li>
            <%end%>
          </ul>
        </div>
      </div><!--/.container-fluid -->
    </nav>

<%= yield %>
 <footer class="footer">
      <div class="container">
        <p class="text-muted margin-top-4">Copyright TecOrb © 2016. All Rights Reserved</p>
      </div>
    </footer>
</body>
</html>
